@import url(https://fonts.googleapis.com/css?family=Open+Sans|Galada);

.App {
  text-align: center;
}

.logo {
margin: 0 0 -10px 0;
padding: 0;

}

p {
  font-family:Open Sans;
  padding:0;
  margin:5px;
}

.logo p {
  margin:0;
  padding:0;
  font-family: "Galada";
  font-size: 48px;
  color: #2265ff;
}

h1 {
  margin:0;
  padding:10px 0 5px 0;

}

h2 {
  margin:0;
  padding:10px 0 5px 0;
  color: #2265ff;
}

h3 {
  margin:0;
  padding:10px 0 5px 0;
  color: #2265ff;
}

.occupations-container {
  position: absolute;
    top: 95px;
    left: 10px;
    padding: 0 0 5px 10px;;
    width: 250px;
    background-color: #e1e4ec7a;
    border-radius:15px;
    -webkit-box-shadow: 3px 3px 36px -15px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 36px -15px rgba(0,0,0,0.75);
box-shadow: 3px 3px 36px -15px rgba(0,0,0,0.75);
}

.occupations-list {
  width:240px;
  height:300px;
  overflow: scroll;
  overflow-x: hidden;
}

.filter-container {
  padding:10px 0;
}

.gender-filter {
  padding: 0 0 5px 0;
}

.DOA-filter {
  padding: 0 0 5px 0;

}

ul {
  list-style-type:none;
  padding:5px 0;
  margin:0;
}

li {
  text-transform: capitalize;
}

.image {
width:250px;
}

/*ReactSearchBox*/

.sc-htpNat.dePyzG {
    width: 220px;
}


/*Fancy radio Buttons */

.radio {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  font-size: 14px;
  margin: 5px;
}
.radio .label {
  position: relative;
  display: block;
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #c8ccd4;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}
.radio .label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #225cff;
  transform: scale(0);
  transition: all 0.2s ease;
  opacity: 0.08;
  pointer-events: none;
}
.radio:hover .label:after {
  transform: scale(3.6);
}
input[type="radio"]:checked + .label {
  border-color: #225cff;
}
input[type="radio"]:checked + .label:after {
  transform: scale(1);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}
.cntr {
  position: absolute;
  left: 0;
  width: 100%;
}
.hidden {
  display: none;
}

label {
  display: inline-block;
}

.gm-style .gm-style-iw-c {

max-width: 275px !important;
max-height: 350px !important;

}

.info-text {
    width: 250px;
}
